<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Header</title>

    <link rel="stylesheet" href="/styles/style.css"/>
    <link rel="stylesheet" href="/styles/header.css"/>


</head>

<body>

<section class="container-fluid px-3">
    <header class="main-header d-flex flex-wrap align-items-center justify-content-between gap-3">


        <div class="d-flex align-items-center gap-4">

            <nav class="navbar navbar-expand-md navbar-light p-0">
                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarNav"
                        aria-controls="navbarNav"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse"
                     id="navbarNav">
                    <ul class="navbar-nav gap-1">
                        <% if (loggedIn) { %>
                        <a href="/Students"
                           class="navbar-brand text-decoration-none">
                            📚 SmartLibSys
                        </a>
                        <% } else { %>
                        <a href="/"
                           class="navbar-brand text-decoration-none">
                            📚 SmartLibSys
                        </a>
                        <% } %>

                        <% if (loggedIn) { %>
                        <li class="nav-item">
                            <a class="nav-link"
                               href="/Students">
                                Books
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               href="#">
                                Reserve Room
                            </a>
                        </li>
                        <% } else { %>

                        <li class="nav-item">
                            <a class="nav-link"
                               href="/">
                                Home
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link"
                               href="/About">
                                About
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link"
                               href="/Services">
                                Services
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link"
                               href="#">
                                Download
                            </a>
                        </li>

                        <% } %>

                    </ul>
                </div>
            </nav>
        </div>



        <% if (loggedIn) { %>

        <form class="search-form d-flex align-items-center"
              role="search"
              action="/Search-Book"
              method="GET">
            <button class="search-btn"
                    type="submit">
                🔍
            </button>
            <input class="form-control search-input"
                   type="search"
                   name="q"
                   id="searchbar"
                   placeholder="Search Books"
                   aria-label="Search"
                   value="<%= typeof searchQuery !== 'undefined' ? searchQuery : '' %>">
        </form>


        <% } else { %>
        <form class="search-form d-flex align-items-center"
              role="search"
              action="/Search"
              method="GET">
            <button class="search-btn"
                    type="submit">
                🔍
            </button>
            <input class="form-control search-input"
                   type="search"
                   name="q"
                   id="searchbarSearch"
                   placeholder="Search Books"
                   aria-label="Search"
                   value="<%= typeof searchQuery !== 'undefined' ? searchQuery : '' %>">
        </form>
        <% } %>


        <% if (loggedIn) { %>

        <div class="dropdown">

            <button class="btn dropdown-toggle profile-btn"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
                <img class="profile-image"
                     src="/images/user.png"
                     alt="user">
            </button>

            <ul class="dropdown-menu dropdown-menu-end">
                <li>
                    <a class="dropdown-item"
                       href="#">
                        My Profile
                    </a>
                </li>

                <li>
                    <a class="dropdown-item"
                       href="#">
                        Preferences
                    </a>
                </li>

                <li>
                    <a class="dropdown-item"
                       href="#">
                        Status
                    </a>
                </li>

                <li>
                    <a class="dropdown-item"
                       href="#">
                        History
                    </a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <a class="dropdown-item text-danger"
                       href="/">
                        Log Out
                    </a>
                </li>
            </ul>
        </div>

        <% } else { %>

        <div>
            <a href="/Login"
               class="btn btn-outline-dark login-btn">

                Log-in

            </a>
        </div>
        <% } %>
    </header>
</section>
</body>
</html>