<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Header</title>
    <link rel="stylesheet" href="/styles/style.css"/>
    <link rel="stylesheet" href="/styles/header.css"/>
</head>
<body>
<section class="accordion-header container-fluid">
    <header class="d-flex flex-nowrap align-items-center justify-content-center justify-content-md-between py-1 mb-4 border-bottom">
        <nav class="navbar navbar-expand-md navbar-light">

            <button class="navbar-toggler d-md-none"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav gap-1">
                    <li class="nav-item">
                        <% if (loggedIn) { %>
                        <a class="nav-link" href="/Students">Home</a>
                        <% } else { %>
                        <a class="nav-link" href="/">Home</a>
                        <% } %>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/About">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Download</a>
                    </li>
                </ul>
            </div>
        </nav>

        <form class="d-flex position-absolute start-50 translate-middle-x" role="search">
            <button class="btn me-2" type="submit">🔍︎</button>
            <input class="form-control me-1 py-2 col-md-3" type="search" placeholder="Search" aria-label="Search"/>
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>
        </form>

        <% if (loggedIn) { %>

        <div class="dropdown">
            <button class="btn dropdown-toggle" type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">

                <img class="rounded-circle me-3"
                     src="/images/user.png"
                     alt="user"
                     width="40">
            </button>

            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">My Profile</a></li>
                <li><a class="dropdown-item" href="#">Preferences</a></li>
                <li><a class="dropdown-item" href="#">Status</a></li>
                <li><a class="dropdown-item" href="#">History</a></li>
                <li><a class="dropdown-item text-danger" href="/">Log Out</a></li>
            </ul>
        </div>

        <% } else { %>

        <div class="col-md-3 text-end mt-2 mt-md-0">
            <a href="/Login" class="btn btn-outline-dark login-btn">
                Log-in
            </a>
        </div>

        <% } %>
    </header>
</section>


</body>
</html>